# Core Django & REST Framework
Django==5.2.13
djangorestframework==3.17.1
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework-camel-case==1.4.2

# Database
psycopg2-binary==2.9.9
dj-database-url==2.1.0

# Production Server
gunicorn==25.3.0
whitenoise==6.6.0

# Utilities
Faker==33.3.0
pillow==11.1.0
lxml==5.3.1

